body {
    margin: 0;
}



.navbar-collapse {
    background: rgb(100, 100, 223);
    max-width: 500px;
}







.error {
    text-align: center;
    color: red;
}

.success {
    text-align: center;
    color: green;
}

.col-md-12 input {
    max-width: 500px;
}

.form-control {
    max-width: 500px;
}

/* .amain {
    float: right;
    text-decoration-color: #fff;
} */

.profile-ava img {
    max-width: 250px;
    height: auto;
}

.lol {
    background: blueviolet;
}

.register_button {
    background: red;
}


.form-contect{
    padding: 50px;
    background: #ccc;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
