* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-collapse {
    background: rgb(100, 100, 223);
    max-width: 500px;
}


.main {
    margin-top: 50px;
    flex-grow: 1;
}

.top-user {
    display: flex;
    justify-content: center;
}




.error {
    text-align: center;
    color: red;
}

.success {
    text-align: center;
    color: green;
}

.col-md-12 input {
    max-width: 500px;
}

.form-control {
    max-width: 500px;
}


.profile-ava img {
    max-width: 250px;
    height: auto;
}


