{% extends 'base.html' %}


{%- block mainmenu -%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/indexreg"><h3>Вирости пісюна</h3></a>
        </div>
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('indexreg') }}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Профіль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Вийти</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock mainmenu -%}

{% block content %}
    {{ super() }}

    {% for category, message in get_flashed_messages(True) %}
        <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}

    <div class="main-game">
        <center>
            {{text}}
            <a href="{{ url_for('profile') }}">Назад</a>
            <div class="dick">
                <img src="/static/images/dick.jpeg" alt="dick">
            </div>
        </center>
    </div>
        
{% endblock %}