{% extends 'base.html' %}



{% block content %}
    {{ super() }}
    
    <div class="main">
        <div class="top-user">
            <ol>
                <h1>Top players:</h1>
                {% if posts==None %}
                    <h6>Ще немає користувачів</h6>
                {% else %}
                    {% for line in posts %}
                        <li>{{line.name}} = {{line.dick}} cm</li>
                    {% endfor %}
                {% endif %}
            </ol>
        </div>

        
        <div class="about-game">
            <h3>Про гру...</h3> 
        </div>
    </div>

{% endblock %}
