{% extends 'base.html' %}



{% block content %}
    {{ super() }}
    
    <center>
        <h1>Про гру...</h1>
        <a href="/login">Увійти</a><br>
        <a href="/register">Зареєструвати акаунт</a>
 
    </center>
    <hr>
    <h3>Top players:</h3>
    <ol>
        {% if posts==None %}
            <h6>Ще немає користувачів</h6>
        {% else %}
            {% for line in posts %}
                <li>{{line.name}} = {{line.dick}} cm</li>
            {% endfor %}
        {% endif %}
    </ol>

    
{% endblock %}