{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="main-reg">
        <form action="/register" method="post" class="form-contect">
            <center>
                {{ form.hidden_tag() }}
                {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                    <p>{{ field.label() }}
                        {% if field.errors %}
                            {{ field(class="invalid") }}
                            <span class="invalid-feedback">
                                {% for e in field.errors %}
                                    {{ e }}
                                {% endfor %}
                            </span>
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    </p>
                {% endfor %}
                <p>{{ form.submit(class="btn btn-primary") }}</p>
            </center>
        </form>
    </div>  
{% endblock %}