{% extends 'base.html' %}

{% block title %}
    Реєстрація | Вирости пісюна 3.0
{% endblock %}


{% block body %}
<div class="form-registration">
    <center>
        {% for category, message in get_flashed_messages(True) %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        <h1>Реєстрація акаунта</h1>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="usernamereg">
                </div>
            </div>
    
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="user-password">
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary">Create profile</button>
        </form>
    </center>
    <form method="get" action="/">
        <button type="submit" class="btn btn-primary">Головна</button>    
    </form>
</div>
   
{% endblock %}